<h1><strong>Développeur</strong> web full-stack</h1>
<h2>Recherche un poste en tant que développeur web</h2>
<button>Me contacter</button>
<button>Télécharger mon CV</button>

<style>
  h1 {
    font-family: var(--font-mono), sans-serif;
    font-weight: 400;
    font-size: var(--size-36);
    background: linear-gradient(
      135deg,
      var(--color-blue) 0%,
      var(--color-green) 50%,
      var(--color-green) 100%
    );
    background-clip: text;
    color: transparent;
  }

  strong {
    font-weight: 600;
    font-size: var(--size-48); /* 46px */
  }

  h2 {
    font-style: italic;
    color: var(--color-grey-dark);
    font-weight: normal;
    font-size: var(--size-24); /* 22px */
  }
</style>
