---
import CTAButton from '@/components/shared/CTAButton.astro';
---

<h1>
  <strong>Développeur</strong>
  <small>web full-stack</small>
</h1>
<h2>Recherche un poste en tant que développeur web</h2>
<CTAButton label="Me contacter" />
<CTAButton label="Télécharger mon CV" />

<style>
  h1 {
    display: flex;
    flex-direction: column;
    font-family: var(--font-mono), sans-serif;
    background: linear-gradient(
      135deg,
      var(--color-blue) 0%,
      var(--color-green) 50%,
      var(--color-green) 100%
    );
    background-clip: text;
    color: transparent;
    gap: var(--size-10);
  }

  strong {
    font-weight: 600;
    font-size: var(--size-46);
  }

  small {
    font-weight: 400;
    font-size: var(--size-36);
  }

  h2 {
    font-style: italic;
    color: var(--color-grey-dark);
    font-weight: normal;
    font-size: var(--size-22);
  }
</style>
