---
import CTAButton from '@/components/shared/CTAButton.astro';
import { VariantEnum } from '@enums/variant.enum.ts';
---

<hgroup>
  <h1>
    <strong>Développeur&nbsp</strong>
    <small>web full-stack</small>
  </h1>
  <h2>Recherche un poste en tant que développeur web</h2>
</hgroup>
<div>
  <CTAButton label="Me contacter" variant={VariantEnum.PRIMARY} />
  <CTAButton label="Télécharger mon CV" variant={VariantEnum.SECONDARY} />
</div>

<style>
  hgroup {
    display: flex;
    flex-direction: column;
    gap: var(--size-16);
  }

  h1 {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    font-family: var(--font-mono), sans-serif;
    background: linear-gradient(
      135deg,
      var(--color-blue) 0%,
      var(--color-green) 50%,
      var(--color-green) 100%
    );
    background-clip: text;
    color: transparent;
    gap: var(--size-6);
  }

  strong {
    font-weight: 600;
    font-size: clamp(var(--size-36), 11vw, var(--size-46));
    line-height: 1;
  }

  small {
    font-weight: 400;
    font-size: clamp(var(--size-28), 8.5vw, var(--size-46));
    line-height: 1;
    white-space: nowrap;
  }

  h2 {
    font-style: italic;
    color: var(--color-grey-dark);
    font-weight: normal;
    font-size: clamp(var(--size-18), 5vw, var(--size-24));
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-18);
  }

  div > :global(button) {
    width: 100%;
  }

  @media screen and (min-width: 580px) {
    div {
      flex-direction: row;
    }

    div > :global(button) {
      width: auto;
      padding-inline: var(--size-28);
    }
  }

  @media screen and (min-width: 900px) {
    h1 {
      flex-direction: row;
      gap: 0;
    }
  }
</style>
