<h1>
  <strong>Développeur&nbsp</strong>
  <small>web full-stack</small>
</h1>

<style>
  h1 {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    font-family: var(--font-mono), sans-serif;
    background: linear-gradient(
      135deg,
      var(--color-blue) 0%,
      var(--color-green) 50%,
      var(--color-green) 100%
    );
    background-clip: text;
    color: transparent;
    gap: var(--size-18);
  }

  strong {
    font-weight: 600;
    font-size: clamp(var(--size-36), 11vw, var(--size-46));
    line-height: 1;
  }

  small {
    font-weight: 400;
    font-size: clamp(var(--size-28), 8.5vw, var(--size-46));
    line-height: 1;
    white-space: nowrap;
  }

  @media screen and (min-width: 900px) {
    h1 {
      flex-direction: row;
      gap: 0;
    }
  }
</style>
