---
import Hero from './Hero.astro';
---

<main>
  <Hero />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    gap: var(--size-12);
  }
</style>
