---
const email: string = import.meta.env.MAILTO_EMAIL;
const subject: string | null = null;
const body: string | null = null;

function computeMailTo(): string {
  let mailTo: string = `mailto:${email}`;
  if (subject) {
    mailTo += `?subject=${subject}`;
  }
  if (body) {
    mailTo += `&body=${body}`;
  }
  return mailTo;
}
---

<a class="contact-me" href={computeMailTo()}>Me contacter</a>

<style>
  .contact-me {
    background-color: var(--color-green);
    border: solid 1px var(--color-green);
    padding: 0.5rem var(--size-16);
    border-radius: var(--size-32);
    cursor: pointer;
    font-size: var(--size-14);
  }

  .contact-me:hover {
    background-color: var(--color-white);
    border-color: var(--color-black);
  }
</style>
