<button>TODO</button>

<style>
  button {
    background-color: var(--color-green);
    border: solid 1px var(--color-green);
    padding: var(--size-8) var(--size-16);
    border-radius: var(--size-32);
    //cursor: pointer;
    font-size: var(--size-14);
  }

  button:hover {
    background-color: var(--color-white);
    border-color: var(--color-black);
  }
</style>
