---
import { Icon } from 'astro-icon/components';
import { VariantEnum } from '@enums/variant.enum.ts';

type Props = {
  label: string;
  variant?: VariantEnum;
};

const defaults: Partial<Props> = { variant: VariantEnum.PRIMARY };

const props: Props = { ...defaults, ...Astro.props };
---

<button class:list={[props.variant]}>
  {props.label}
  <Icon name="arrow-right" />
</button>

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--size-10);
    padding-bottom: var(--size-10);
    border-radius: var(--size-16);
    font-family: var(--font-primary), sans-serif;
    font-size: var(--size-18);
    gap: var(--size-6);
  }

  button.primary {
    background-color: var(--color-green);
    border: solid 2px var(--color-green);
  }
  button.primary:hover {
    background-color: var(--color-white);
    border-color: var(--color-black);
  }

  button.secondary {
    background-color: var(--color-white);
    border: solid 2px var(--color-black);
  }

  [data-icon] {
    height: var(--size-14);
  }
</style>
