---
import { Icon } from 'astro-icon/components';
type Props = {
  label: string;
};

const props: Props = Astro.props;
---

<button>
  {props.label}
  <Icon name="arrow-right" />
</button>

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border: solid 2px var(--color-green);
    //background-color: var(--color-white);
    //border: solid 2px var(--color-black);
    padding-top: var(--size-8);
    padding-bottom: var(--size-8);
    border-radius: var(--size-16);
    font-family: var(--font-primary), sans-serif;
    font-size: var(--size-18);
    gap: var(--size-8);
  }

  button:hover {
    background-color: var(--color-white);
    border-color: var(--color-black);
  }

  [data-icon] {
    width: var(--size-14);
  }
</style>
