---
import Main from '@components/body/main/Main.astro';
import Footer from '@components/body/footer/Footer.astro';
import Header from '@components/body/header/Header.astro';
---

<body>
  <Header />
  <Main />
  <Footer />
</body>

<style>
  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
</style>
