---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import '@fontsource/azeret-mono/300.css';
import Navbar from '@components/Navbar.astro';
import { Icon } from 'astro-icon/components';
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <Navbar />
    <main>hello world</main>
    <footer>
      <span class="fullname">Victor BETSCH</span>
      <address>
        <a class="link" href="tel:+33603155113">
          <Icon name="phone" />
          <span>+33 6 03 15 51 13</span>
        </a>
        <a class="link" href="mailto:vbetsch.contact@gmail.com">
          <Icon name="email" />
          <span>vbetsch.contact@gmail.com</span>
        </a>
        <a class="link" href="https://www.linkedin.com/in/vbetsch" target="_blank">
          <Icon name="linkedin" />
          <span>vbetsch</span>
        </a>
        <a class="link" href="https://github.com/vbetsch" target="_blank">
          <Icon name="github" />
          <span>vbetsch</span>
        </a>
      </address>
    </footer>
  </body>
</html>

<style>
  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
  }

  footer {
    background-color: var(--color-grey-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fullname {
    font-family: var(--font-mono), sans-serif;
    font-size: var(--font-size-14);
  }

  address span {
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--font-size-14);
  }
</style>
