---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import Navbar from '@components/Navbar.astro';
import { Icon } from 'astro-icon/components';
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <Navbar />
    <footer>
      <span class="name">Victor BETSCH</span>
      <div class="links">
        <div class="link">
          <Icon name="fa7-brands:github" />
          <span>+33 6 03 15 51 13</span>
        </div>
        <div class="link">
          <Icon name="fa7-brands:github" />
          <span>vbetsch.contact@gmail.com</span>
        </div>
        <div class="link">
          <Icon name="fa7-brands:github" />
          <span>vbetsch</span>
        </div>
        <div class="link">
          <Icon name="fa7-brands:github" />
          <span>vbetsch</span>
        </div>
      </div>
    </footer>
  </body>
</html>
