---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="content">
        <a class="fullname" href="">
          Victor <b>BETSCH</b>
        </a>
        <button class="contact-me">Me contacter</button>
      </div>
    </nav>
  </body>
</html>
<style>
  .navbar {
    font-family: var(--font-default), sans-serif;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fullname {
    text-decoration: none;
    color: var(--color-black);
  }

  .contact-me {
    background-color: var(--color-green);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
  }
</style>
