---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="content">
        <a class="fullname" href="">
          <span class="firstname">Victor</span>
          <span class="lastname">BETSCH</span>
        </a>
        <button class="contact-me">Me contacter</button>
      </div>
    </nav>
  </body>
</html>
<style>
  .navbar {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
