---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="fullname" href="">
        <span class="firstname">Victor</span>
        <span class="lastname">BETSCH</span>
      </a>
      <button class="contact-me">Me contacter</button>
    </nav>
  </body>
</html>
