---
import AddressLink, {
  type Props as AddressLinkProps,
} from '@components/body/footer/AddressLink.astro';

const addressLinks: AddressLinkProps[] = [
  {
    href: 'tel:+33603155113',
    iconName: 'phone',
    label: '+33 6 03 15 51 13',
  },
  {
    href: `mailto:${import.meta.env.MAILTO_EMAIL}`,
    iconName: 'email',
    label: import.meta.env.MAILTO_EMAIL.toString(),
  },
  {
    href: 'https://www.linkedin.com/in/vbetsch',
    iconName: 'linkedin',
    label: 'vbetsch',
    openNewTab: true,
  },
  {
    href: 'https://github.com/vbetsch',
    iconName: 'github',
    label: 'vbetsch',
    openNewTab: true,
  },
];
---

<footer>
  <span>Victor BETSCH</span>
  <address>
    {
      addressLinks.map(address => (
        <AddressLink
          href={address.href}
          iconName={address.iconName}
          label={address.label}
          openNewTab={address.openNewTab || null}
        />
      ))
    }
  </address>
</footer>

<style>
  footer {
    background-color: var(--color-grey-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--size-24);
    padding-bottom: var(--size-24);
  }

  span {
    white-space: nowrap;
    font-family: var(--font-mono), sans-serif;
    font-size: var(--size-12);
  }

  address {
    display: flex;
    gap: clamp(var(--size-16), 7vw, var(--size-48));
  }
</style>
