---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  iconName: string;
  label: string;
  openNewTab?: boolean;
}

const defaults = { openNewTab: false };

const props = { ...defaults, ...Astro.props };
---

<a
  href={props.href}
  target={props.openNewTab ? '_blank' : undefined}
  rel={props.openNewTab ? 'noopener noreferrer' : undefined}
>
  <Icon name={props.iconName} />
  <span>{props.label}</span>
</a>

<style>
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }

  span {
    display: none;
  }

  [data-icon] {
    height: 0.75rem;
  }

  @media screen and (min-width: 900px) {
    span {
      display: block;
      font-family: var(--font-secondary), sans-serif;
      font-size: var(--font-size-14);
    }
  }
</style>
