---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  iconName: string;
  label: string;
  openNewTab: boolean;
}

const { href, iconName, label, openNewTab = false }: Props = Astro.props;
---

<a
  href={href}
  target={openNewTab ? '_blank' : undefined}
  rel={openNewTab ? 'noopener noreferrer' : undefined}
>
  <Icon name={iconName} />
  <span>{label}</span>
</a>

<style>
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }

  span {
    display: none;
  }

  [data-icon] {
    height: 0.75rem;
  }

  @media screen and (min-width: 900px) {
    span {
      display: block;
      font-family: var(--font-secondary), sans-serif;
      font-size: var(--font-size-14);
    }
  }
</style>
