---
const email: string = 'vbetsch.contact@gmail.com';
const subject: string | null = null;
const body: string | null = null;

function computeMailTo(): string {
  let mailTo: string = `mailto:${email}`;
  if (subject) {
    mailTo += `?subject=${subject}`;
  }
  if (body) {
    mailTo += `&body=${body}`;
  }
  return mailTo;
}
---

<a class="btn-link contact-me" href={computeMailTo()}>Me contacter</a>

<style>
  .contact-me {
    background-color: var(--color-green);
    border: solid 1px var(--color-green);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: var(--font-size-14);
  }

  .btn-link {
    text-decoration: none;
    color: var(--color-black);
  }

  .contact-me:hover {
    background-color: var(--color-white);
    border-color: var(--color-black);
  }
</style>
