---
import Metadata from '@components/Metadata.astro';
import Favicon from '@components/Favicon.astro';
---

<head>
  <Metadata />
  <Favicon />
  <link rel="stylesheet" href="/styles/global.css" />
  <title>Portfolio</title>
</head>
