---
import ContactMe from '@components/ContactMe.astro';
---

<nav>
  <div class="content">
    <a class="fullname" href="#header">
      Victor <b>BETSCH</b>
    </a>
    <ContactMe />
  </div>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fullname {
    white-space: nowrap;
  }
</style>
