---
import { EmailService } from '../services/email.service.ts';

const emailService: EmailService = new EmailService();

function computeMailTo(): string {
  let mailTo: string = `mailto:${emailService.email}`;
  if (emailService.subject) {
    mailTo += `?subject=${emailService.subject}`;
  }
  if (emailService.body) {
    mailTo += `&body=${emailService.body}`;
  }
  return mailTo;
}
---

<nav id="navbar">
  <div class="content">
    <a class="fullname" href="#navbar">
      Victor <b>BETSCH</b>
    </a>
    <a class="contact-me" href={computeMailTo()}>Me contacter</a>
  </div>
</nav>

<style>
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fullname {
    text-decoration: none;
    color: var(--color-black);
  }

  .contact-me {
    color: var(--color-black);
    border: solid 1px var(--color-green);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;

    /* Speficic to link html tag */
    text-decoration: none;
    background-color: var(--color-green);
  }

  .contact-me:hover {
    background-color: var(--color-white);
    border-color: var(--color-black);
  }
</style>
