:root {
  --color-black: #282D33;
  --color-blue: #2A7B9B;
  --color-green: #57C785;
  --color-grey-dark: #A0A0A0;
  --color-grey-light: #F5F5F5;
  --color-grey-regular: #B6BDBF;
  --color-white: #FFFFFF;
}
